* {
  margin: 0;
  padding: 0;
  border: 0;
}
::-webkit-scrollbar {
  display: none;
}
p {
  font-size: 15px;
}
body {
  background-image: url("");
  background-size: 100%;
  background-repeat: no-repeat;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.post-list-box {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  min-height: 80px;
  width: 75%;
  border-radius: 6px;
  margin: 10px;
  background-color: #fff;
  transition: transform 0.5s;
}
.post-list-img-box {
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.post-list-img {
  overflow: hidden;
  border-radius: 12px;
  object-fit: cover;
}
.post-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.post-list-box:hover {
  transform: translateY(-3px);
  transition: transform 0.5s;
}
.post-list-flex-box {
  display: flex;
  justify-content: center;
}
.post-title {
  font-weight: bold;
  margin: 10px 10px 0px 10px;
}
.post-list-footer {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.post-date {
  display: flex;
  align-items: center;
}
.post-date span {
  margin-left: 5px;
}
.read-more-button a {
  text-decoration: none;
  font-weight: 700;
  color: #000;
  font-size: 18px;
  margin-left: 12px;
  padding: 6px 12px;
  transition: 0.2s;
  border-radius: 6px;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}
.read-more-button :hover {
  background-color: #f5f7fa;
}
.article-tag-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10px 10px 10px;
}
.article-tag-list-item {
  list-style: none;
}
.article-tag-list a {
  text-decoration: none;
  font-weight: 700;
  color: #000;
  font-size: 8px;
  margin-right: 10px;
  padding: 5px 10px;
  transition: 0.2s;
  border-radius: 6px;
  text-align: center;
  display: block;
  background-color: #f5f7fa;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}
.article-tag-list a:hover {
  color: #335eea;
  transition: 0.2s;
}
.page-excerpt {
  height: 100%;
  margin: 0 10px;
}
@media screen and (max-width: 450px) {
  .post-list-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  .post-list-img-box {
    margin: 0 10px 0px 10px;
    width: 100%;
  }
  .post-list-img {
    max-width: 100%;
  }
}
.header-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name {
  font-weight: bold;
}
.avatar {
  margin-top: 1em;
  width: 150px;
  border-radius: 18px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 1s;
  margin-bottom: 10px;
  transform-style: preserve-3d;
}
.avatar:hover {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  transition: 1s;
}
#menu {
  display: flex;
  list-style: none;
}
#menu > li {
  margin: 10px 0px;
}
#menu > li a {
  text-decoration: none;
  font-weight: 700;
  color: #000;
  font-size: 18px;
  margin-left: 12px;
  padding: 6px 12px;
  transition: 0.2s;
  border-radius: 6px;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}
#menu > li a:hover {
  color: #335eea;
  transition: 0.2s;
}
#menu li.hl a {
  color: #335eea;
}
#menu > li :hover {
  background-color: #f5f7fa;
}
.post {
  display: flex;
  justify-content: center;
}
.post-box {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 12px;
  padding: 10px;
  margin: 10px;
  width: 75%;
  background-color: #fff;
}
.page-title {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  color: #a7535a;
}
.post-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.post-img {
  max-width: 50%;
  object-fit: cover;
  border-radius: 8px;
  border: 1px #ed5a65 solid;
}
@media screen and (max-width: 450px) {
  .post-box {
    width: 90%;
  }
}
.post-content >* {
  margin: 1em 0;
}
.post-content a {
  color: #4d1018;
  font-weight: bold;
}
.page-excerpt a {
  color: #4d1018;
  font-weight: bold;
}
.page-excerpt p {
  margin-top: 10px;
}
code {
  padding: 0 8px;
  color: #c7254e;
  background: #f9f2f4;
  border-radius: 2px;
  line-height: 20px;
  display: inline-block;
}
.post-content img {
  width: 80%;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
table {
  max-width: 65em; /*表格最大宽度，避免表格过宽*/
  border: 1px solid #dedede; /*表格外边框设置*/
  margin-bottom: 10px; /*外边距*/
  border-collapse: collapse; /*使用单一线条的边框*/
  empty-cells: show; /*单元格无内容依旧绘制边框*/
}
table th,
table td {
  height: 35px; /*统一每一行的默认高度*/
  border: 1px solid #dedede; /*内部边框样式*/
  padding: 0 10px; /*内边距*/
}
table th {
  font-weight: bold; /*加粗*/
  text-align: center !important; /*内容居中，加上 !important 避免被 Markdown 样式覆盖*/
  background: rgba(158,188,226,0.2); /*背景色*/
}
table tbody tr:nth-child(2n) {
  background: rgba(158,188,226,0.12);
}
table th {
  white-space: nowrap; /*表头内容强制在一行显示*/
}
.archive-flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.archive-box {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 6px;
  margin: 10px;
  width: 75%;
  display: flex;
  flex-direction: column;
}
.list-group > p {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0px;
}
.list-group {
  padding: 10px;
}
.list-group-item {
  display: flex;
  padding: 10px;
  text-decoration: none;
  color: #000;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}
.list-group-item:hover {
  background-color: #f5f7fa;
  border-radius: 6px;
}
.list-group-item time {
  flex: 0 0 5rem;
}
@media screen and (max-width: 450px) {
  .archive-box {
    width: 90%;
  }
}
.friend-box {
  display: flex;
  justify-content: center;
}
.friends {
  min-width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.friends-item img {
  width: 50px;
  height: 50px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 6px;
  object-fit: contain;
  transition: 1s;
  transform-style: preserve-3d;
}
.friends-item img:hover {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  transition: 1s;
}
.friends-item {
  width: 150px;
  display: flex;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 6px;
}
.friends-item a {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  margin: 0px 10px;
  color: #000;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}
.paginator {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  margin: 50px auto 5vh;
}
.page-number.current {
  color: #fff;
  background: #c08eaf;
  border-color: #c08eaf;
  box-shadow: 2px 2px 4px #c08eaf;
}
.paginator >* {
  min-width: 35px;
  height: 35px;
  line-height: 33px;
  padding: 0 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0 5px;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
}
.paginator >*.extend {
  font-size: 12px;
}
.paginator a {
  text-decoration: none;
  color: #000;
}
.category-box {
  width: 75%;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 6px;
  margin: 10px;
}
.category {
  padding: 10px;
}
.category-header > p {
  font-size: 16px;
  font-weight: bold;
}
.category-item {
  display: flex;
  flex-wrap: wrap;
}
.category-item-link {
  text-decoration: none;
  min-width: 40px;
  text-align: center;
  font-weight: bold;
  color: #000;
  font-size: 8px;
  padding: 8px;
  margin: 5px 10px;
  transition: 0.2s;
  border-radius: 6px;
  display: block;
  text-align: center;
  background-color: #f5f7fa;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}
.category-item-link:hover {
  color: #335eea;
}
@media screen and (max-width: 450px) {
  .category-box {
    width: 90%;
  }
}
.tag-cloud-box {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 6px;
  margin: 10px;
  width: 75%;
  display: flex;
  flex-direction: column;
}
.tag-cloud-header {
  display: flex;
  align-items: center;
}
.tag-cloud-header span {
  font-size: 16px;
  font-weight: bold;
  margin-left: 5px;
}
.tag-cloud-item {
  display: flex;
  flex-wrap: wrap;
}
.tag-cloud {
  padding: 10px;
}
.tag-cloud-item-link {
  text-decoration: none;
  min-width: 40px;
  font-weight: bold;
  text-align: center;
  color: #000;
  font-size: 8px;
  padding: 8px;
  margin: 5px 10px;
  transition: 0.2s;
  border-radius: 6px;
  display: block;
  background-color: #f5f7fa;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}
.tag-cloud-item-link:hover {
  color: #335eea;
}
@media screen and (max-width: 450px) {
  .tag-cloud-box {
    width: 90%;
  }
}
